/**
 * Created by gewangjie on 2017/10/12
 */
html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    background: #000;
}

.model-show {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.model-show div {
    background: url("http://7xs7nv.com1.z0.glb.clouddn.com/bg.jpeg");
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    box-sizing: border-box;
}

#left:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 1px;
    background: #fff;
}
